.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section .text {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--secondary-text-color);
  font-weight: 400;
  text-transform: none;
  font-size: 14px;
  line-height: 1.71;
}
